.container {
  margin: auto;
  justify-items: center;
  max-width: 1280px;
  width: 100%;
  padding: 10px;
  background-color: rgb(236, 253, 245);
}

.page-1 {
  min-height: 800px;
}

.bubble-container {
  max-width: 1240px;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  background-color: #064e3b;
  display: flex;
  flex-direction: row;
  color: white;
}
.box-of-3 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-left: 10px;
  max-width: 500px;
  width: 100%;
  height: 50px;
}

.box {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: fit-content;
  width: 100%;
  height: 50px;
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  max-width: fit-content;
  width: 100%;
  height: 50px;
}

.right-box-of-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  color: white;
  max-width: fit-content;
  margin-left: 290px;
  width: 100%;
  height: 50px;
}
.main-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
  height: 544px;
  margin-top: 50px;
}
.main-content {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: left;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  max-height: 544px;
  height: 100%;
  padding: 20px;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  font-weight: 700;
  font-size: 67px;
  font-style: bold;
  font-family: "Syne", sans-serif;
  letter-spacing: -2%;
  line-height: 104%;
  color: #064e3b;
}

.text-box-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  font-family: "Syne", sans-serif;
  letter-spacing: -2%;
  line-height: 104%;
  color: #059669;
}

.button-box {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  max-width: 540px;
  width: 100%;
  margin-top: 20px;
  height: 50px;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  max-width: 200px;
  width: 100%;
  color: white;
  background-color: #65a30d;
  height: 50px;
  margin-right: 5px;
}
.button-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  max-width: 200px;
  width: 100%;
  color: rgb(0, 0, 0);
  border: 1px solid #65a30d;
  height: 50px;
  margin-right: 5px;
}

* {
  font-family: "Syne", sans-serif;
}

.photo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 680px;
  width: 100%;
  height: 800px;
}

.text-box-2 {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
  font-weight: 700;
  font-size: 51px;
  font-style: bold;
  font-family: "Syne", sans-serif;
  letter-spacing: -2%;
  line-height: 104%;
  color: #064e3b;
}

html,
body {
  overflow-y: auto;
}

.page-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  min-height: 800px;
}

.text-box-small-2 {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  font-family: "Syne", sans-serif;
  letter-spacing: -2%;
  line-height: 104%;
  color: #059669;
  margin-bottom: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  gap: 40px;
  justify-content: center;

  img {
    width: 500px;
    height: 290px;
    border-radius: 30px;
    object-fit: cover;
  }
}

.link-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  font-family: "Syne", sans-serif;
  letter-spacing: -2%;
  line-height: 104%;
  color: #059669;
  margin-top: 20px;
}
.link-card span:last-child {
  margin-left: auto;
  font-size: 24px;
}

.page-3 {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  min-height: 500px;
}

.page-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 800px;
}

.main-1 {
  display: flex;
  flex-direction: column;
  min-height: 800px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  min-width: 640px;
  width: 100%;
}

.main-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 800px;
  min-width: 640px;
  width: 100%;
  background-color: #dcfce7;
}

.box-of-4 {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 100px;
  justify-content: center;

  box-01 {
    width: 200px;
    height: 300px;
  }
}

.text-overlay {
  display: flex;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  font-weight: 700;
  font-size: 38px;
  font-style: normal;
  font-family: "Syne", sans-serif;
  letter-spacing: -2%;
  line-height: 104%;
  color: #064e3b;
  margin-bottom: 20px;
}

.text-overlay-2 {
  display: flex;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  font-family: "Syne", sans-serif;
  letter-spacing: -2%;
  line-height: 104%;
  color: #059669;
}

.box-01 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  font-family: "Syne", sans-serif;
  letter-spacing: -2%;
  line-height: 104%;
  color: #064e3b;
}

.box-01-small {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  font-family: "Syne", sans-serif;
  letter-spacing: -2%;
  line-height: 104%;
  color: #059669;
}

.round-box {
  display: flex;
  justify-content: center;
  min-width: 200px;
  min-height: 200px;
  background-color: #064e3b;
  border-radius: 100px;
  margin-bottom: 30px;
}

.page-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 800px;
}

.text-box-20 {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
  font-weight: 700;
  margin-top: 200px;
  font-size: 51px;
  font-style: bold;
  font-family: "Syne", sans-serif;
  letter-spacing: -2%;
  line-height: 104%;
  color: #064e3b;
}

.text-box-small-20 {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  font-family: "Syne", sans-serif;
  letter-spacing: -2%;
  line-height: 104%;
  color: #059669;
  margin-bottom: 20px;
}

.box-of-6 {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(3, 200px);
  gap: 100px;
  justify-content: center;

  box-010 {
    min-width: 200px;
    height: 300px;
  }
}

.text-16 {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  font-weight: 400;
  margin-top: 10px;
  font-size: 16px;
  font-style: normal;
  font-family: "Syne", sans-serif;
  letter-spacing: -2%;
  line-height: 104%;
  color: #059669;
}

.text-20 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  margin-top: 10px;

  font-family: "Syne", sans-serif;
  letter-spacing: -2%;
  line-height: 104%;
  color: #064e3b;
}

.page-6 {
  display: flex;
  flex-direction: row;
  min-height: 800px;
  min-width: 1280px;
  align-items: center;
  justify-content: center;
}

.main-1-6 {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  min-width: 400px;
  margin-right: 100px;
}

.main-2-6 {
  align-items: center;
  min-width: 400px;
  justify-content: center;
}

.text-overlay-10 {
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 51px;
  font-style: normal;
  font-family: "Syne", sans-serif;
  letter-spacing: -2%;
  line-height: 104%;
  color: #064e3b;
  margin-bottom: 20px;
}

.text-overlay-21 {
  display: flex;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  font-family: "Syne", sans-serif;
  letter-spacing: -2%;
  line-height: 104%;
  color: #059669;
}

.green-box {
  border-radius: 40px;
  min-height: 450px;
  background-color: #dcfce7;
}

.b-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  margin-top: 10px;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  font-family: "Syne", sans-serif;
  letter-spacing: -2%;
  line-height: 104%;
  color: #064e3b;
}

.b-2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  font-family: "Syne", sans-serif;
  letter-spacing: -2%;
  line-height: 104%;
  color: #059669;
}

.green-box {
  display: grid;
  grid-template-columns: (3, 200px);
  justify-content: flex-start;

  g-b-1 {
    min-width: 100px;
  }
}

.g-b-1 {
  margin-top: 20px;
  margin-left: 20px;
}

.footer {
  min-height: 300px;
}

.main-block {
  min-height: 150px;
  min-width: 1200px;
  display: flex;
  flex-direction: row;
}
.m-1 {
  min-width: 600px;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #e5e7eb;
  margin: 20px 0;
}

.footer-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 40px 80px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button-10 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  color: white;
  background-color: #65a30d;
  height: 60px;
  margin-top: 50px;
  margin-right: 5px;
}

.p-f {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 16px;
  margin-right: 10px;
  font-style: normal;
  font-family: "Syne", sans-serif;
  letter-spacing: -2%;
  line-height: 150%;
  color: #064e3b;
}

.p-f-18 {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 20px;
  margin-top: 20px;
  font-style: normal;
  font-family: "Syne", sans-serif;
  letter-spacing: -2%;
  line-height: 150%;
  color: #064e3b;
}

.p-f-s {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  font-family: "Syne", sans-serif;
  letter-spacing: -2%;
  line-height: 150%;
  color: #059669;
}

.l-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
